{% extends "layout.html" %}
{% block title %}KM Meteorological Monitoring{% endblock %}
{% block content %}
<link href="{{ url_for('static',filename='unica.css') }}" rel="stylesheet" type="text/css">

<br><br><br>
<div id="container" style="width: 80%; height: 500px; margin: 0 auto"></div>
<br><br><br>

<div style="width: 800px; margin: 0 auto; color: #000000">
	<p>Live data from a Bosch Temperature, Barometric Pressure and Relative Humidity sensor (BME280).</p>
	<p>Sensor is now sitting on THIS desk. Data are collected and served by a Beaglebone Black single-board computer.</p>
</div>

<script>
var chart;

function addpoint(d) {
	var window_size = 24*3600;
	var t = d['t'];
	var p = d['p'];
	var rh = d['rh'];
	if (!(chart == null)) {
		var series = chart.series[0];
		var shift = series.data.length > window_size;
		chart.series[0].addPoint([Date.now(),t], true, shift);
		
		series = chart.series[1];
		shift = series.data.length > window_size;
		chart.series[1].addPoint([Date.now(),p], true, shift);
		
		series = chart.series[2];
		shift = series.data.length > window_size;
		chart.series[2].addPoint([Date.now(),rh], true, shift);
	}
}

$(function() {

	var t_color = Highcharts.getOptions().colors[2];
	var p_color = Highcharts.getOptions().colors[0];
	var rh_color = Highcharts.getOptions().colors[3];

	chart = new Highcharts.Chart({
		chart: {
			type: 'line',
			renderTo: 'container',
			defaultSeriesType: 'spline',
			events: {
				//load: addpoint
			},
			animation: false
		},
		title: {
			text: 'Temperature, Barometric Pressure and Relative Humidity'
		},
		subtitle: {
			text: 'Live data from a Bosch BME280 in the electrical box on the met. mast'
		},
		xAxis: {
			type: 'datetime',
			tickPixelInterval: 150,
			minRange: 1000
		},
		yAxis: [{
			minPadding: 0.2,
			maxPadding: 0.2,
			labels: {
				format: '{value}°C',
				style: {
					color: t_color
				}
			},
			title: {
				text: 'Temperature',
				margin: 30,
				style: {
					fontSize: '20px',
					color: t_color
				}
			}
		},{
			labels: {
				format: '{value}kPa',
				style: {
					color: p_color
				}
			},
			title: {
				text: 'Barometric Pressure',
				style: {
					fontSize: '20px',
					color: p_color
				}
			},
			opposite: true
		},{
			labels: {
				format: '{value}%',
				style: {
					color: rh_color
				}
			},
			title: {
				text: 'Relative Humidity',
				style: {
					fontSize: '20px',
					color: rh_color
				}
			},
			opposite: true
		}],
		tooltip: {
			shared: true
		},
		series: [{
			name: 'Temperature',
			data: [],
			yAxis: 0,
			color: t_color,
			lineWidth: 3,
			tooltip: {
				valueSuffix: ' °C'
			}
		},{
			name: 'Barometric Pressure',
			data: [],
			yAxis: 1,
			color: p_color,
			lineWidth: 3,
			dashStyle: 'shortdash',
			tooltip: {
				valueSuffix: ' kPa'
			}
		},{
			name: 'Relative Humidity',
			data: [],
			yAxis: 2,
			color: rh_color,
			lineWidth: 3,
			dashStyle: 'shortdot',
			tooltip: {
				valueSuffix: ' %'
			}
		}],
		tooltip: {
			enabled: true
		},
		legend: {
			enabled: true,
			layout: 'vertical',
			floating: true,
			align: 'left',
			verticalAlign: 'top',
			y: 60,
			x: 100,
			backgroundColor: '#ffffff',
		},
		credits: {
			enabled: false
		},
		/*plotOptions: {
			area: {
				fillColor: {
					linearGradient: {
						x1:0,
						y1:0,
						x2:0,
						y2:1
					},
					stops: [
						[0, Highcharts.getOptions().colors[2]],
						[1, Highcharts.Color(Highcharts.getOptions().colors[2]).setOpacity(0).get('rgba')]
					]
				}
			}
		},*/
	});		
});

//var url = "ws://localhost:9000/";
var url = "ws://166.122.97.73:9000";
ws = new WebSocket(url);
ws.onopen = function(evt) { console.log(evt) };
ws.onclose = function(evt) { console.log("closed") };
ws.onmessage = function(evt) {
	//console.log(evt.data);
	var data = JSON.parse(evt.data);
	addpoint(data);
};
ws.onerror = function(evt) { console.log("error?") };

</script>
<script src="{{ url_for('static',filename='day1.js') }}" type="text/javascript"></script>
{% endblock %}