{% extends "layout.html" %}
{% block title %}FAQ{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div>
				<h2>FAQ</h2>

				<a name="q1"></a>
				<h3>What is this?</h3>
				<p>met. mast upgrade... blah. for details, see this doc.</p>
				<p>the electrical box is a bird nest... the chart room cabinet is another. no one knows the wiring, and stages of processing made to the data</p>
				
				<a name="q2"></a>
				<h3>Where is the "met. mast"? Where are the sensors?</h3>
				<div class="row">
					<div class="col-md-6 col-md-offset-0">
						<figure><img src="/static/img/metmastonkm.jpg" class="img-responsive img-rounded" alt="Yes that's a real rainbow."></figure>
					</div>
				</div>
				
				<a name="q3"></a>
				<h3>What is the data source of the real-time plots?</h3>
				<p>The plots are taking data directly from the <a href="#">logger</a> rather than from log files or database. One exception, however, is when a plot is first loaded, some recent data are pulled from the database to initialize the plot.</p>
				<p>If more computing resource is available, I would consider generating static plots with larger time span (perhaps plot data in the past 30 days).</p>
				
				<a name="q4"></a>
				<h3>Where does variable X come from?</h3>
				<p>see flow chart...</p>
				
				<a name="q5"></a>
				<h3>"Stale"?</h3>
				<p>at least two types of "stale":</p>
				<ul>
					<li>logger not getting new reading (e.g. sensor down, logger process not running)</li>
					<li>connection to web server lost</li>
				</ul>
				
				<h3>maintenance and technical info</h3>
				<p>see this doc</p>
				
				<p>Where is the box? in the electrical box up on the met. mast. [picture goes here, inside and outside]</p>
				
				<p>What's in the box? A single-board computer running Linux. wire terminals, 12V lead-acid battery backup, fiber optic Ethernet switch</p>
				
				<h3>"The page turns grayscale even though new data are coming in."</h3>
				<p>The clock of your device might be out of sync.</p>
				
				<p>Where to download the data? [policy goes here... I remember reading sth about some USB stick... sth about "room not clean, no data"]</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}