{% extends "layout.html" %}
{% block title %}KM Meteorological Monitoring{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="page-header row">
		<div class="col-xs-10 col-xs-offset-1">
			<div id="header">
				<h1>KM Meteorological Monitoring</h1>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div id="header">
				<h2>System Status at a glance</h2>
				<h3>small plots, charts and gauges...</h3>
				<h3>control panel: button? maybe.</h3>
				<p>Uptime</p>
				<p>Error stats</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}