{% extends "layout.html" %}
{% block title %}KM Meteorological Monitoring{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div id="header">
<h1>todo: use SVG for links</h1>
				<p>description...</p>
				<p>supervisord portal at port 7001...</p>
			</div>
		</div>
		<div class="col-xs-10 col-xs-offset-1">
			<div>
				<h3>Device Location</h3>
				<img src="/static/img/signals.png" class="img-responsive" alt="signal types">
				
				<hr>
				
				<h3>Power and Communication Wiring</h3>
				<img src="/static/img/wiring.png" class="img-responsive" alt="wiring connections">
				
				<hr>

				<h3>Information Flow</h3>
				<p>From sensors to database...</p>
				<img src="/static/img/soft.png" class="img-responsive" alt="software modules">
				
				<hr>
				
				<h3>File and Directory</h3>
				<img src="/static/img/files.png" class="img-responsive" alt="directory">
			</div>
		</div>
	</div>
</div>
{% endblock %}