{% extends "layout.html" %}
{% block title %}KM Meteorological Monitoring{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div id="header">
				<p>description...</p>
			</div>
			<div id="header">
				<h3>Hardware</h3>
				<p>From sensors to database...</p>
				
				<h4>Signal View</h4>
				<img src="/static/img/signals.png" class="img-responsive" alt="signal types">
				<hr>
				<h4>Physical Wiring View</h4>
				<img src="/static/img/wiring.png" class="img-responsive" alt="wiring connections">
				
				<h3>Software</h3>
				<h4>Information Flow</h4>
				<img src="/static/img/soft.png" class="img-responsive" alt="test">
			</div>
		</div>
	</div>
</div>
{% endblock %}