<!DOCTYPE HTML>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--meta http-equiv="refresh" content="300"-->
		<link href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static',filename='jquery-ui/jquery-ui.min.css') }}" rel="stylesheet" type="text/css">

		<script src="{{ url_for('static',filename='jquery/jquery.min.js') }}" type="text/javascript"></script>
		<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
		<script src="{{ url_for('static',filename='lodash.min.js') }}" type="text/javascript"></script>
		
		<script src="{{ url_for('static',filename='highcharts/js/highcharts.js') }}" type="text/javascript"></script>

		<script src="{{ url_for('static',filename='jquery.timeago.js') }}" type="text/javascript"></script>
		<script src="{{ url_for('static',filename='jquery-ui/jquery-ui.min.js') }}" type="text/javascript"></script>

		<script src="{{ url_for('static',filename='common.js') }}" type="text/javascript"></script>

		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		{% if no_navbar %}
		{% else %}
			{% include 'navbar.html' %}
		{% endif %}
		
		{% block content %}{% endblock %}
		
		{% if no_footer %}
		{% else %}
			{% include 'footer.html' %}
		{% endif %}
	</body>
</html>