{% extends "layout.html" %}
{% block title %}KM Meteorological Monitoring{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-5 col-md-offset-2">
			<div id="header">
				<h2>Debugging stuff</h2>
			</div>
			<h3>Disk Usage</h3>
			<p>Size of data and log directories in the past seven days. Plots are internally regenerated every hour (refresh the page to see new plots).</p>
			<a href="/static/img/space_data.png"><img src="/static/img/space_data.png" class="img-responsive" alt="space usage"></a>
			<br>
			<a href="/static/img/space_log.png"><img src="/static/img/space_log.png" class="img-responsive" alt="space usage"></a>
			<br>
			<p>Sampling and logging processes can be monitored and controlled via the supervisord portal at port 9009.</p>

			<p>system health at a glance</p>
			<p>Error stats, file size, latest entries in db...</p>
		</div>
	</div>
</div>
{% endblock %}