{% set no_navbar = true %}
{% set no_footer = true %}
{% extends "layout.html" %}
{% block title %}Apparent Wind Plot{% endblock %}
{% block content %}
<link href="{{ url_for('static',filename='unica.css') }}" rel="stylesheet" type="text/css">
<script src="{{ url_for('static',filename='reconnecting-websocket.js') }}" type="text/javascript"></script>

<div id="container" style="width: 90%; height: 500px; margin: 0 auto; margin-top: 2em; margin-bottom: 3em;"></div>

<div style="width: 60%; margin: 0 auto; color: #E0E0E3">
	<section>
		<p>Live data from both port and starboard RM Young anemometer as well as ultrasonic anemometer.</p>
		<p>Individual time series can be toggled ON/OFF by clicking the corresponding legend. TODO!!!!! This page turns grayscale if the data is stale. TODO!!!!!!</p>
	</section>
</div>
<script src="{{ url_for('static',filename='windchart.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static',filename='night1.js') }}" type="text/javascript"></script>
{% endblock %}